<header>
  <nav class="top-menu">
    <ul class="menu-main">
      <li class="left-item"><a href="/cabinet">Cabinet</a></li>
      <li class="left-item"><a href="/order">Book Room</a></li>
      <li class="left-item"><a href="/rooms">Our Rooms</a></li>
    </ul>
  </nav>
</header>

<div class="container">

  <table>
    <tr class="table-header">
      <th></th>
      <th>Check in</th>
      <th>Check out</th>
      <th class="roleHead">Places</th>
      <th class="statusHead">Status</th>
      <th class="statusHead">Payment</th>
    </tr>

    <tr *ngFor="let reservation of reservations; let i = index">
      <td class="username">{{i + 1}}</td>
      <td>{{reservation.checkIn}}</td>
      <td>{{reservation.checkOut}}</td>
      <td class="commenter">{{reservation.places}}<i class="fas fa-angle-down"></i></td>
      <td *ngIf="reservation.roomId.name;else elseBlock " class="commenter">{{reservation.roomId.name}}<i
        class="fas fa-angle-down"></i>
      </td>
      <ng-template #elseBlock>
        <td class="commenter"><i class="fas fa-angle-down"></i></td>
      </ng-template>

      <div [ngSwitch]="reservation.status">
        <ng-template ngSwitchCase="CONFIRMED">
          <td><button id="accept" >Accept</button></td>
        </ng-template>
        <ng-template ngSwitchDefault>
          <td></td>
        </ng-template>
      </div>

    </tr>
  </table>
</div>
  <input type="submit" value="Logout" (click)="logout()">
