
.loginForm {
  width: 100%;
}
form {
  margin: 0 auto;
  text-align: center;
}


.container {
  width: 80%;
  margin: 20px auto;
}


.filterBar {
  margin: 20px 0px;
}

label {
  font-weight: 600;
  text-transform: uppercase;
}

table {
  width: 100%;
}

th, td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

th {
  text-align: left;
  background-color: #000000;
  color: #ffffff;
}

tr:nth-child(odd) {
  background: #F9F9F9;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

tr:nth-child(even) {
  background: #FFF;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

tr:hover {
  background-color: #EBF5FB;
  cursor: default;
  border: 1px solid #000000;
}

.username {
  color: #000000;
}

.username:hover, a:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}

/* .activeUser {
   color: #03AB61;
} */

/* .bannedUser, .suspendedUser {
   font-weight: 600;
} */
.bannedUser {
  color: red;
}

.suspendedUser {
  color: #FF8C00;
}

.commenter {
  color: #000000;
}

.admin, .staff, .moderator {
  font-weight: 600;
}

.active {
  background-color: #F77160;
  color: white;
}

.roleHead {
  width: 115px;
}

.statusHead {
  width: 115px;
}
.log{
  background:none;
  border:none;
  width:30%;
  min-height:20px;
  margin:0px;
  border-radius:2.5%;
  color: #000000;
  padding:0.5% 0 0;
  font-size:1.5em;
  cursor: pointer;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}
i {
  float: right;
  padding: 0px 15px;
  color: #787D80;
  font-size: 12px;
}

td.activeUser:hover, td.suspendedUser:hover, td.bannedUser:hover, td.commenter, td.staff, td.admin, td.moderator {
  cursor: pointer;
}

tr.table-header {
  font-size: 20px;
  border: 1px solid #BBBEBF;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 100%;
}

.styled-select {
  margin-top: 5px;
  width: 200px;
  border-radius: 2px;
  border: 1px solid #9A9DA0;
  color: #3B4A53;
}

.filter-ui, .search-ui {
  display: inline-block;
}

.search-input {
  padding: 6px;
  margin-top: 5px;
  font-size: 14px;
  width: 300px;
  border: 1px solid #9A9DA0;
  border-radius: 2px;
}

.search-container button {
  padding: 10px 5px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}


::-webkit-input-placeholder {
  color: #BBBEBF;
  font-size: 13px;
}

::-moz-placeholder {
  color: #BBBEBF;
  font-size: 13px;
}

:-ms-input-placeholder {
  color: #BBBEBF;
  font-size: 13px;
}

::placeholder {
  color: #BBBEBF;
  font-size: 13px;
}


/* Buttons*/
.yes-button {
  background-color: rgb(202, 242, 150);
  text-align: left;
  padding-right: 2em;
  z-index: 1;
  position: relative;
}

.no-button {
  background-color: rgb(243, 141, 104);
  text-align: right;
  padding-left: 2em;
  z-index: 1;
  position: relative;
}

.blur-hover {
  padding: 1em;
  border-radius: .2em;
  outline: none;
  background-color: #EEE;
  border: none;
  color: #555;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0em 0em 3em rgba(0, 0, 0, 0);
}
header{
  width: 100%;
  height: 100px;
  background-color: #222;
}
@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
  height: inherit;
}
.menu-main {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: inherit;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #d5d1ce;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  .menu-main li {display: block;}
}
