<header>
  <nav class="top-menu">
    <ul class="menu-main">
      <li class="right-item"><a href="/admin">Cabinet</a></li>

    </ul>
  </nav>
</header>
<div class="container">

  <table>
    <tr class="table-header">
      <th>Username</th>
      <th>Check in</th>
      <th>Check out</th>
      <th class="roleHead">Places</th>
      <th class="statusHead">Room</th>
      <th class="statusHead">Status</th>
      <th class="statusHead">Payment</th>
    </tr>
    <tr *ngFor="let reservation of reservations; let i = index">
      <td class="username">{{i + 1}}</td>
      <td>{{reservation.checkIn}}</td>
      <td>{{reservation.checkOut}}</td>
      <td class="commenter">{{reservation.places}}<i class="fas fa-angle-down"></i></td>
      <td *ngIf="reservation.roomId.name;else elseBlock " class="commenter">{{reservation.roomId.name}}<i
        class="fas fa-angle-down"></i>
      </td>
      <ng-template #elseBlock>
        <td class="commenter">
          <select  (change)="onSelect($event.target.value)">
            <option *ngFor="let room of rooms" value="{{room.id}}" id="{{room.id}}" name="{{room.id}}"> {{room.name}}</option>
          </select>
        </td>
      </ng-template>


      <td class="activeUser">{{reservation.status}}<i class="fas fa-angle-down"></i></td>
      <div [ngSwitch]="reservation.status">
        <ng-template ngSwitchCase="PENDING">
          <td>
            <a class="no-button blur-hover" (click)="updateReservation(reservation.id)">&#10004;</a>
            <a class="no-button blur-hover" (click)="updateReservation( reservation.id)">
              &#10006;</a>
          </td>
        </ng-template>
        <ng-template ngSwitchDefault>
          <td></td>
        </ng-template>
      </div>

    </tr>
  </table>
</div>
<input type="submit" value="Logout" (click)="logout()">
